{% extends 'base.html.twig' %}

{% block title %}<title>accueil</title>{% endblock %}

{% block body %}

	<body>
		<div class="container">
			<img src="{{asset('images/baniere.jpg')}}" alt="">
			<center>
				<p>
					[Ceci est la page d'accueil, naviguez sur notre wiki et découvrez plein d'articles interressants.
					Cordialement -> les étudiants en Licence2 GL 2019]
				</p>
				<p>
					<bold> De lA pArT dE tOuTe l'éQuIpE, BoNnE ViSiTe!!!! </bold>
				</p>
			</center>
		</div>
	</body>

{% endblock %}