{% extends 'base.html.twig' %}

{% block body %}
	<article>
		<h2>{{ article.titre }}</h2>

		<h3>{{ article.contenu | raw}}</h3>
			
	</article> <a href="{{path('modifier', {'id': article.id }, 'edit')}}" class="btn btn-primary">Mettre à jour</a>
{% endblock %}